.footer {
    background-color: #f8f8f8;
    padding: 20px 0;
    border-top: 1px solid #ddd;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  .footer nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .footer nav li {
    display: inline;
    padding: 10px;
    color: #333;
    cursor: pointer;
  }
  